.main-outer {
  margin: 0;
  padding: 20px;
}

.column {
  padding: 5px;
}

.mat-form-field-outer {
  width: 100%;

  mat-form-field {
    width: 100%;
  }

}

.example-section {
  margin: 10px 0 15px 5px;
}

.bottom-button-set {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.button {
  width: 164px;
  height: 35px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: var(--save-button-text-color);
  font-weight: 500;
  size: 14px;
}

.registration-next {
  background-color: var(--save-button-background-color);
}

.file-input {
  display: none;
}

.image-outer-background {
  width: 350px;
  height: 350px;
  cursor: pointer;
  border: 1px dashed var(--image-outer-background-border-color);
}

.overlay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 200;
}

.image-outer {
  padding-left: 8px;
}
