.all-product-type-outer{
  padding: 30px 0;
}

.controller-outer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 15px;
}

.availability-outer{
  width: 50%;
}

.mat-form-field-outer{
  margin: 18px 0 0 20px;
  width: 50%;
  mat-form-field{
    width: 100%;
  }
}

.text-input-inner {
  width: 50%;
  padding-left: 5px;
  height: 45px;
  border: 1px solid rgba(189, 195, 199, 0.8);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;

  input, select {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 10px;
    background: none;
  }

  mat-icon {
    margin: 1px 5px 0 0;
    font-size: 20px;
    padding: 2px;
  }
}

.filter-button {
  height: 35px;
  padding: 0 10px;
  border: none;
  background-color: #7f8c8d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-outer{
  margin: 20px 15px;
}

table {
  width: 100%;
}

th, td {
  padding: .5rem;
}

th {
  text-align: left;
  background-color: #34495E;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #BBC2C9;
}

.table-scroll {
  overflow: auto;
}

@media (max-width: 550px) {
  table {
    border: none;
    width: 100%;
  }
  table, tr, td {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  table, td {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  thead, th {
    display: none;
    width: 100%;
  }
  tbody {
    width: 100%!important;
    border: 1px solid #34495E;
    td{
      border: none;
    }
  }
  td:nth-child(1)::before {
    content: "Brand Name  :  ";
    font-weight: bold;
    margin-right: 10px;
  }
  td:nth-child(2)::before {
    content: "Active State  :  ";
    font-weight: bold;
    margin-right: 10px;
  }
  td:nth-child(3)::before {
    content: "Other Data  :  ";
    font-weight: bold;
    margin-right: 10px;
  }
  td:nth-child(4)::before {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
  td:nth-child(4) {
    width: 100%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
  }

  .text-input-inner {
    width: 100%;
  }
}

body {
  padding: 1rem;
}
