
<form #formDirective="ngForm" (ngSubmit)=" updateCustomer(formDirective)"  [formGroup]="updateCustomerForm">
  <div class="main-outer">
    <div class="row-wrapper row">
      <div class="address-outer column col-12 col-sm-6 col-lg-4 col-xl-6">
        <div class="mat-form-field-outer">
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input formControlName="address" matInput type="text">
          </mat-form-field>
        </div>
      </div>
      <div class="dob-outer column col-12 col-sm-6 col-lg-4 col-xl-6">
        <div class="mat-form-field-outer">
          <mat-form-field appearance="outline">
            <mat-label>Register a date</mat-label>
            <input [matDatepicker]="picker" formControlName="regDate" matInput>
            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row-wrapper row ">
<!--      <div class="nic-outer column col-12 col-sm-6 col-lg-4 col-xl-4">-->
<!--        <div class="mat-form-field-outer">-->
<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>NIC</mat-label>-->
<!--            <input formControlName="nic" matInput type="text">-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--      </div>-->
      <div class="Name-outer column col-12 col-sm-6 col-lg-4 col-xl-6">
        <div class="mat-form-field-outer">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput type="text">
          </mat-form-field>
        </div>
      </div>
      <div class="contact-outer column col-12 col-sm-6 col-lg-4 col-xl-6">
        <div class="mat-form-field-outer">
          <mat-form-field appearance="outline">
            <mat-label>contact</mat-label>
            <input formControlName="contact" matInput type="number">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row-wrapper">
      <div class="symbol">
        <mat-label>Symbol</mat-label>
        <div
          (mouseenter)="this.fileImageUploadHiddenEverything = '';this.fileImageOverlay = this.fileImageOverlayChecker"
          (mouseleave)="this.fileImageUploadHiddenEverything = this.fileImageUploadHiddenEverythingChecker;this.fileImageOverlay = ''"
          [ngStyle]="{'background-image': 'url('+ FileImageLink +')','background-size': 'cover','background-position':'center'}"
          class="image-outer-background">
          <div [ngStyle]="{'background-color':''+fileImageOverlay+''}" class="overlay">
            <input #fileUpload (change)="onFileSelected($event)" [ngStyle]="{'display' : ''+fileImageUploadHiddenEverything+''}"
                   class="file-input" type="file">
            <div [ngStyle]="{'display' : ''+fileImageUploadHiddenEverything+''}" class="file-upload">
              {{fileName || "No file uploaded yet."}}
              <a (click)="fileUpload.click()" class="upload-btn" color="primary"
                 mat-mini-fab>
                <mat-icon>attach_file</mat-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="button-outer-2">
    <button [disabled]="updateCustomerForm.invalid" mat-raised-button color="primary" type="submit" >Update</button>&nbsp;
    <button mat-dialog-close mat-raised-button>Cancel</button>
  </div>
</form>


