<mat-nav-list>
  <div  class="nav-list-data-outer">
    <div class="right-data-set">
      <mat-icon>edit_note</mat-icon>
    </div>
    <div class="left-data-set">
      <a  mat-list-item (click)="updatePopUp($event)">
        <span mat-line>Update This Advance Clearance</span>
        <span mat-line>click here to update selected Advance Clearance</span>
      </a>
    </div>
  </div>

  <div class="nav-list-data-outer">
    <div class="right-data-set">
      <mat-icon>delete_sweep</mat-icon>
    </div>
    <div class="left-data-set">
      <a mat-list-item  (click)="deletePopUp($event)">
        <span mat-line>Delete This Advance Clearance</span>
        <span mat-line>if you want to Delete the Advance Clearance click here</span>
      </a>
    </div>
  </div>
</mat-nav-list>
