<div class="all-unit-type-outer">
  <form [formGroup]="searchForm">
    <div class="controller-outer">
      <div class="text-input-inner">
        <mat-icon> search</mat-icon>
        <input formControlName="searchText" placeholder="Search here" type="text">
      </div>
      <div class="availability-outer">
        <div class="mat-form-field-outer">
          <mat-form-field appearance="outline">
            <mat-label>Active State</mat-label>
            <mat-select (valueChange)="valueGetter($event)" [ngModel]="availability[0]"
                        formControlName="activeState">
              <mat-option (select)="unitTypeActiveState" *ngFor="let type of availability"
                          [value]="type">{{type}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
  <div class="table-outer">
    <table>
      <thead>
      <tr>
        <th scope="col">Unit Type Name</th>
        <th scope="col">Active State</th>
        <th scope="col">Symbol</th>
      </tr>
      </thead>
      <tbody>
      <tr (click)="openBottomSheet(unitType)" *ngFor="let unitType of allUnitTypesArray">
        <td>{{unitType?.unitName}}</td>
        <td>{{unitType?.activeState && 'Available' || 'Unavailable'}}</td>
        <td>
          <div class="image-outer">
            <img src="{{unitType?.symbol}}" alt="">
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<mat-paginator (page)="pageEvent = getServerData($event)"
               [length]=dataCount
               [pageIndex]=page
               [pageSizeOptions]=pageSizeOptions
               [pageSize]=pageSize
               aria-label="Select page">
</mat-paginator>
