<h2 class="property-name">
  {{brand.brandName}}
</h2>
<h5 class="property-id">
  {{brand.brandId}}
</h5>
<hr>

<mat-nav-list>
  <div class="nav-list-data-outer">
    <div class="right-data-set">
      <mat-icon>published_with_changes</mat-icon>
    </div>
    <div class="left-data-set">
      <a mat-list-item (click)="changeActiveState($event)">
        <span mat-line>{{brand.activeState && 'Unavailable' || 'Available'}} This Brand</span>
        <span mat-line>if you want to Modify this brand must click here to {{brand.activeState && 'Unavailable' || 'Available'}} brand</span>
      </a>
    </div>
  </div>
  <div class="nav-list-data-outer">
    <div class="right-data-set">
      <mat-icon>edit_note</mat-icon>
    </div>
    <div class="left-data-set" (click)="updatePopUp($event)">
      <a mat-list-item>
        <span mat-line>Update This Brand</span>
        <span mat-line>click here to update selected Brand</span>
      </a>
    </div>
  </div>
  <div class="nav-list-data-outer">
    <div class="right-data-set">
      <mat-icon>delete_sweep</mat-icon>
    </div>
    <div class="left-data-set" (click)="deletePopUp($event)">
      <a mat-list-item >
        <span mat-line>Delete This Brand Permanently</span>
        <span mat-line>if you want to Delete the Brand click here</span>
      </a>
    </div>
  </div>
</mat-nav-list>
