<form #formDirective="ngForm" (ngSubmit)="updateData(formDirective)" [formGroup]="updateDamageDetailsForm">
  <mat-dialog-content>
    <div class="main-outer">
      <div class="info-outer">
        <div class="row input-rows">
          <div class="fine-outer column col-12 col-sm-6">
            <div class="mat-form-field-outer">
              <mat-form-field appearance="outline">
                <mat-label>Fine</mat-label>
                <input formControlName="fine" matInput type="number">
              </mat-form-field>
            </div>
          </div>
          <div class="note-outer column col-12">
            <div class="mat-form-field-outer">
              <mat-form-field appearance="outline">
                <mat-label>Note</mat-label>
                <textarea formControlName="note" matInput rows="7"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>

  </mat-dialog-content>
  <div class="button-outer">
    <button [disabled]="updateDamageDetailsForm.invalid" type="submit" color="primary" mat-raised-button>Update</button>&nbsp;
    <button mat-dialog-close mat-raised-button>Cancel</button>
  </div>
</form>
