<mat-nav-list>
  <div  class="nav-list-data-outer">
    <div class="right-data-set">
      <mat-icon>edit_note</mat-icon>
    </div>
    <div class="left-data-set">
      <a  mat-list-item (click)="updatePopUp($event)">
        <span mat-line>Update This Employee</span>
        <span mat-line>click here to update selected Employee</span>
      </a>
    </div>
  </div>

<!--  <div class="nav-list-data-outer">-->
<!--    <div class="right-data-set">-->
<!--      <mat-icon>delete_sweep</mat-icon>-->
<!--    </div>-->
<!--    <div class="left-data-set">-->
<!--      <a mat-list-item  (click)="DeletePopUp()">-->
<!--        <span mat-line>Delete This Employee</span>-->
<!--        <span mat-line>if you want to Delete the Employee click here</span>-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->

</mat-nav-list>
