<form #formDirective="ngForm" (ngSubmit)=" updateData(formDirective)" [formGroup]="updateProductForm">
  <mat-dialog-content>
    <div class="main-outer">
      <div class="info-outer">
        <div class="input-rows">
          <div class="row-wrapper row">
            <div class="product-name-outer column col-12 col-sm-6 col-lg-4">
              <div class="mat-form-field-outer">
                <mat-form-field appearance="outline">
                  <mat-label>Product Name</mat-label>
                  <input formControlName="productName" matInput type="text">
                </mat-form-field>
              </div>
            </div>
            <div class="display-name-outer column col-12 col-sm-6 col-lg-4">
              <div class="mat-form-field-outer">
                <mat-form-field appearance="outline">
                  <mat-label>Display Name</mat-label>
                  <input formControlName="displayName" matInput type="text">
                </mat-form-field>
              </div>
            </div>
            <div class="brand-outer column col-12 col-sm-6 col-lg-4">
              <div class="mat-form-field-outer">
                <mat-form-field appearance="outline">
                  <mat-label>Brand</mat-label>
                  <mat-select formControlName="brand">
                    <mat-option *ngFor="let type of brands" [value]="type.brandName">{{type?.brandName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row-wrapper row">
            <div class="serial-outer column col-12 col-sm-6 col-lg-4">
              <div class="mat-form-field-outer">
                <mat-form-field appearance="outline">
                  <mat-label>Serial</mat-label>
                  <input formControlName="serial" matInput type="text">
                </mat-form-field>
              </div>
            </div>
            <!--<div class="product-type-outer column col-12 col-sm-6 col-lg-4">
              <div class="mat-form-field-outer">
                <mat-form-field appearance="outline">
                  <mat-label>Product Type</mat-label>
                  <mat-select formControlName="productType">
                    <mat-option *ngFor="let type of productTypes" [value]="type.typeId">{{type?.typeName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="unit-type-outer column col-12 col-sm-6 col-lg-4">
              <div class="mat-form-field-outer">
                <mat-form-field appearance="outline">
                  <mat-label>Unit Type</mat-label>
                  <mat-select formControlName="unitType">
                    <mat-option *ngFor="let type of unitTypes" [value]="type.unitId">{{type?.unitName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>-->
          </div>
          <div class="row-wrapper row">
            <div class="availability-outer column col-12 col-sm-6 col-lg-4">
              <div class="mat-form-field-outer">
                <mat-form-field appearance="outline">
                  <mat-label>Availability</mat-label>
                  <mat-select formControlName="availability">
                    <mat-option *ngFor="let type of availability" [value]="type">{{type}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="available-unit-outer column col-12 col-sm-6 col-lg-4">
              <div class="mat-form-field-outer">
                <mat-form-field appearance="outline">
                  <mat-label>Available Units</mat-label>
                  <input formControlName="availableUnits" matInput type="number">
                </mat-form-field>
              </div>
            </div>
            <div class="hourly-cost-outer column col-12 col-sm-6 col-lg-4">
              <div class="mat-form-field-outer">
                <mat-form-field appearance="outline">
                  <mat-label>Hourly Cost</mat-label>
                  <input formControlName="hourlyCost" matInput type="number">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row-wrapper row">
            <div class="extra-state-outer column col-12 col-sm-6 col-lg-4">
              <div class="mat-form-field-outer">
                <mat-form-field appearance="outline">
                  <mat-label>Extra State</mat-label>
                  <mat-select formControlName="extraState">
                    <mat-option *ngFor="let type of extraState" [value]="type">{{type}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="extra-note-outer column col-12">
              <div class="mat-form-field-outer">
                <mat-form-field appearance="outline">
                  <mat-label>Extra Note</mat-label>
                  <textarea formControlName="extraNote" matInput rows="7"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row-wrapper row">
            <div class="product-guideline-outer column col-12">
              <div class="mat-form-field-outer">
                <mat-form-field appearance="outline">
                  <mat-label>Product Guideline</mat-label>
                  <textarea formControlName="productGuideline" matInput rows="7"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row-wrapper image-outer">
            <mat-label class="image-header">Image</mat-label>
            <div
              (mouseenter)="this.fileImageUploadHiddenEverything = '';this.fileImageOverlay = this.fileImageOverlayChecker"
              (mouseleave)="this.fileImageUploadHiddenEverything = this.fileImageUploadHiddenEverythingChecker;this.fileImageOverlay = ''"
              [ngStyle]="{'background-image': 'url('+ FileImageLink +')','background-size': 'cover','background-position':'center'}"
              class="image-outer-background">
              <div [ngStyle]="{'background-color':''+fileImageOverlay+''}" class="overlay">
                <input #fileUpload (change)="onFileSelected($event)" [ngStyle]="{'display' : ''+fileImageUploadHiddenEverything+''}"
                       class="file-input" type="file">
                <div [ngStyle]="{'display' : ''+fileImageUploadHiddenEverything+''}" class="file-upload">
                  {{ FileImageLink == '' && "No file uploaded yet." || "Change image"}}
                  <a (click)="fileUpload.click()" class="upload-btn" color="primary"
                     mat-mini-fab>
                    <mat-icon>attach_file</mat-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </mat-dialog-content>
  <div class="button-outer">
    <button [disabled]="updateProductForm.invalid" color="primary" mat-raised-button>Update</button>&nbsp;
    <button mat-dialog-close mat-raised-button>Cancel</button>
  </div>
</form>
