<div class="main-wrap-outer">
  <div class="nav-wrap">
    <div class="left-menu">
      <div class="accordion">
        <p class="head-text-for-nav">DAILY PROCESS</p>
        <div class="section">
          <input id="section-1" type="radio" name="accordion-1" value="toggle"/>
          <div class="content-wrap-for-icon">
            <div class="content-wrap-for-inner-left">
              <mat-icon>folder_open</mat-icon>
            </div>
            <div class="label-wrapper">
              <label for="section-1"><span>
            Product</span></label>
            </div>
          </div>
          <div class="content">
            <div class="line"></div>
            <ul class="content-list">
              <li (click)="navigateToRoute('daily-process/product/new-product')">
                <span>  &nbsp; New Product</span>
              </li>
              <li (click)="navigateToRoute('daily-process/product/all-products')">
                <span>  &nbsp; All Products</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="section">
          <input id="section-2" type="radio" name="accordion-1" value="toggle"/>
          <div class="content-wrap-for-icon">
            <div class="content-wrap-for-inner-left">
              <mat-icon>folder_open</mat-icon>
            </div>
            <div class="label-wrapper">
              <label for="section-2"><span>
            Product Type</span></label>
            </div>
          </div>
          <div class="content">
            <div class="line"></div>
            <ul class="content-list">
              <li (click)="navigateToRoute('daily-process/product-type/new-product-type')">
                <span>  &nbsp; New Product Type</span>
              </li>
              <li (click)="navigateToRoute('daily-process/product-type/all-product-types')">
                <span>  &nbsp; All Product Types</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="section">
          <input id="section-3" type="radio" name="accordion-1" value="toggle"/>
          <div class="content-wrap-for-icon">
            <div class="content-wrap-for-inner-left">
              <mat-icon>folder_open</mat-icon>
            </div>
            <div class="label-wrapper">
              <label for="section-3"><span>
            Unit Type</span></label>
            </div>
          </div>
          <div class="content">
            <div class="line"></div>
            <ul class="content-list">
              <li (click)="navigateToRoute('daily-process/unit-type/new-unit-type')">
                <span>  &nbsp; New Unit Type</span>
              </li>
              <li (click)="navigateToRoute('daily-process/unit-type/all-unit-types')">
                <span>  &nbsp; All Unit Types</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="section">
          <input id="section-4" type="radio" name="accordion-1" value="toggle"/>
          <div class="content-wrap-for-icon">
            <div class="content-wrap-for-inner-left">
              <mat-icon>folder_open</mat-icon>
            </div>
            <div class="label-wrapper">
              <label for="section-4"><span>
            Brand</span></label>
            </div>
          </div>
          <div class="content">
            <div class="line"></div>
            <ul class="content-list">
              <li (click)="navigateToRoute('daily-process/brand/new-brand')">
                <span>  &nbsp; New Brand</span>
              </li>
              <li (click)="navigateToRoute('daily-process/brand/all-brands')">
                <span>  &nbsp; All Brands</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="section">
          <input id="section-5" type="radio" name="accordion-1" value="toggle"/>
          <div class="content-wrap-for-icon">
            <div class="content-wrap-for-inner-left">
              <mat-icon>folder_open</mat-icon>
            </div>
            <div class="label-wrapper">
              <label for="section-5"><span>
            Fuel Type</span></label>
            </div>
          </div>
          <div class="content">
            <div class="line"></div>
            <ul class="content-list">
              <li (click)="navigateToRoute('daily-process/fuel-type/new-fuel-type')">
                <span>  &nbsp; New Fuel Type</span>
              </li>
              <li (click)="navigateToRoute('daily-process/fuel-type/all-fuel-types')">
                <span>  &nbsp; All Fuel Types</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="section">
          <input id="section-6" type="radio" name="accordion-1" value="toggle"/>
          <div class="content-wrap-for-icon">
            <div class="content-wrap-for-inner-left">
              <mat-icon>folder_open</mat-icon>
            </div>
            <div class="label-wrapper">
              <label for="section-6"><span>
            Maintain Data</span></label>
            </div>
          </div>
          <div class="content">
            <div class="line"></div>
            <ul class="content-list">
              <li (click)="navigateToRoute('daily-process/maintain-data/new-maintain-data')">
                <span>  &nbsp; New Maintain Data</span>
              </li>
              <li (click)="navigateToRoute('daily-process/maintain-data/maintain-data-history')">
                <span>  &nbsp; Maintain Data History</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="section">
          <input id="section-7" type="radio" name="accordion-1" value="toggle"/>
          <div class="content-wrap-for-icon">
            <div class="content-wrap-for-inner-left">
              <mat-icon>folder_open</mat-icon>
            </div>
            <div class="label-wrapper">
              <label for="section-7"><span>
            Damaged Details</span></label>
            </div>
          </div>
          <div class="content">
            <div class="line"></div>
            <ul class="content-list">
              <li (click)="navigateToRoute('daily-process/damage-detail/damage-details-history')">
                <span>  &nbsp; Damaged Detail History</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="section">
          <input id="section-8" type="radio" name="accordion-1" value="toggle"/>
          <div class="content-wrap-for-icon">
            <div class="content-wrap-for-inner-left">
              <mat-icon>folder_open</mat-icon>
            </div>
            <div class="label-wrapper">
              <label for="section-8"><span>
            Rent Data</span></label>
            </div>
          </div>
          <div class="content">
            <div class="line"></div>
            <ul class="content-list">
              <li (click)="navigateToRoute('daily-process/rent-data/new-rent-data')">
                <span>  &nbsp; New Rent Data</span>
              </li>
              <li (click)="navigateToRoute('daily-process/rent-data/rent-data-history')">
                <span>  &nbsp; Rent Data History</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="section">
          <input id="section-9" type="radio" name="accordion-1" value="toggle"/>
          <div class="content-wrap-for-icon">
            <div class="content-wrap-for-inner-left">
              <mat-icon>folder_open</mat-icon>
            </div>
            <div class="label-wrapper">
              <label for="section-9"><span>
            Customer Reviews</span></label>
            </div>
          </div>
          <div class="content">
            <div class="line"></div>
            <ul class="content-list">
              <li (click)="navigateToRoute('daily-process/customer-reviews/all-customer-reviews')">
                <span>  &nbsp; All Customer Reviews</span>
              </li>
            </ul>
          </div>
        </div>
        <br>
        <p class="head-text-for-nav">FINANCIAL DEPARTMENT</p>
        <div class="section">
          <input id="section-10" type="radio" name="accordion-1" value="toggle"/>
          <div class="content-wrap-for-icon">
            <div class="content-wrap-for-inner-left">
              <mat-icon>folder_open</mat-icon>
            </div>
            <div class="label-wrapper">
              <label for="section-10"><span>
            Rental payment</span></label>
            </div>
          </div>
          <div class="content">
            <div class="line"></div>
            <ul class="content-list">
              <li (click)="navigateToRoute('finance/rental-payment/new-rental-payment')">
                <span>  &nbsp; New Rental Payment</span>
              </li>
              <li (click)="navigateToRoute('finance/rental-payment/rental-payment-history')">
                <span>  &nbsp; Rental Payment History</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="section">
          <input id="section-11" type="radio" name="accordion-1" value="toggle"/>
          <div class="content-wrap-for-icon">
            <div class="content-wrap-for-inner-left">
              <mat-icon>folder_open</mat-icon>
            </div>
            <div class="label-wrapper">
              <label for="section-11"><span>
            Special Discount</span></label>
            </div>
          </div>
          <div class="content">
            <div class="line"></div>
            <ul class="content-list">
              <li (click)="navigateToRoute('finance/special-discount/new-discount')">
                <span>  &nbsp; New Discount</span>
              </li>
              <li (click)="navigateToRoute('finance/special-discount/discount-history')">
                <span>  &nbsp; Discount History</span>
              </li>
            </ul>
          </div>
        </div>
        <br>
        <p class="head-text-for-nav">HUMAN RESOURCE</p>
        <div class="section">
          <input id="section-12" type="radio" name="accordion-1" value="toggle"/>
          <div class="content-wrap-for-icon">
            <div class="content-wrap-for-inner-left">
              <mat-icon>folder_open</mat-icon>
            </div>
            <div class="label-wrapper">
              <label for="section-12"><span>
            Customer</span></label>
            </div>
          </div>
          <div class="content">
            <div class="line"></div>
            <ul class="content-list">
              <li (click)="navigateToRoute('hr/customer/newCustomer/newCustomer')">
                <span>  &nbsp; New Customer</span>
              </li>
              <li (click)="navigateToRoute('hr/customer/AllCustomer/allCustomer')">
                <span>  &nbsp; All Customers</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="section">
          <input id="section-13" type="radio" name="accordion-1" value="toggle"/>
          <div class="content-wrap-for-icon">
            <div class="content-wrap-for-inner-left">
              <mat-icon>folder_open</mat-icon>
            </div>
            <div class="label-wrapper">
              <label for="section-13"><span>
            Employee</span></label>
            </div>
          </div>
          <div class="content">
            <div class="line"></div>
            <ul class="content-list">
              <li (click)="navigateToRoute('hr/employee/newEmployee/employeeNew')">
                <span>  &nbsp; New Employee</span>
              </li>
              <li (click)="navigateToRoute('hr/employee/allEmployee/list')">
                <span>  &nbsp; All Employee</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="section">
          <input id="section-14" type="radio" name="accordion-1" value="toggle"/>
          <div class="content-wrap-for-icon">
            <div class="content-wrap-for-inner-left">
              <mat-icon>folder_open</mat-icon>
            </div>
            <div class="label-wrapper">
              <label for="section-14"><span>
            Attendance</span></label>
            </div>
          </div>
          <div class="content">
            <div class="line"></div>
            <ul class="content-list">
              <li (click)="navigateToRoute('hr/attendance/newAttendance/attendanceNew')">
                <span>  &nbsp; New Attendance</span>
              </li>
              <li (click)="navigateToRoute('hr/attendance/allAttendance/historyAttendance')">
                <span>  &nbsp; All Attendance</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="section">
          <input id="section-15" type="radio" name="accordion-1" value="toggle"/>
          <div class="content-wrap-for-icon">
            <div class="content-wrap-for-inner-left">
              <mat-icon>folder_open</mat-icon>
            </div>
            <div class="label-wrapper">
              <label for="section-15"><span>
            Payroll</span></label>
            </div>
          </div>
          <div class="content">
            <div class="line"></div>
            <ul class="content-list">
              <li (click)="navigateToRoute('hr/payroll/newPayroll/PayrollNew')">
                <span>  &nbsp; New Payroll</span>
              </li>
              <li (click)="navigateToRoute('hr/payroll/allPayroll/PayrollAll')">
                <span>  &nbsp; All Payroll</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="section">
          <input id="section-16" type="radio" name="accordion-1" value="toggle"/>
          <div class="content-wrap-for-icon">
            <div class="content-wrap-for-inner-left">
              <mat-icon>folder_open</mat-icon>
            </div>
            <div class="label-wrapper">
              <label for="section-16"><span>
            Salary Advance</span></label>
            </div>
          </div>
          <div class="content">
            <div class="line"></div>
            <ul class="content-list">
              <li (click)="navigateToRoute('hr/salary-advance/newSalary/NewSalaryAdvance')">
                <span>  &nbsp; New Salary Advance</span>
              </li>
              <li (click)="navigateToRoute('hr/salary-advance/historySalary/HistorySalaryAdvance')">
                <span>  &nbsp; Salary Advance History</span>
              </li>
<!--              <li (click)="navigateToRoute('hr/salary-advance/advanceClearance/salaryAdvanceClearance')">-->
<!--                <span>  &nbsp; New Advance Clearance</span>-->
<!--              </li>-->
              <li (click)="navigateToRoute('hr/salary-advance/advanceClearanceHistory/HistorySalaryAdvanceClearance')">
                <span>  &nbsp; Advance Clearance History</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  <p class="version-text">{{version}}</p>-->
</div>
