<mat-nav-list>
  <div  class="nav-list-data-outer">
    <div class="right-data-set">
      <mat-icon>edit_note</mat-icon>
    </div>
    <div class="left-data-set" (click)="updatePopUp($event)">
      <a mat-list-item>
        <span mat-line>Update This Product</span>
        <span mat-line>click here to update selected product</span>
      </a>
    </div>
  </div>

  <div class="nav-list-data-outer">
    <div class="right-data-set">
      <mat-icon>delete_sweep</mat-icon>
    </div>
    <div class="left-data-set" (click)="deletePopUp($event)">
      <a mat-list-item >
        <span mat-line>Delete This Product Permanently</span>
        <span mat-line>if you want to Delete the Product click here</span>
      </a>
    </div>
  </div>
</mat-nav-list>
